.book {
  background-image: url(../img/nat-10.jpg);
  background-size: 100%;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0 3rem 4rem rgba($color-black, 0.2);
  width: 65%;
  height: 100%;
}
